.description-container{
    position: relative;
}

.artiste-nom {
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 25px;
}

.artiste-nom::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 90%;
    transform: translateX(-50%); 
    width: 105px;
    height: 40px;
    background-color: #96E072;
    z-index: -1;
    border-radius: 30px 0 20px 0;
}

img[alt="Haut_Gauche"]{
    position: absolute;
    top: 10px;
    left: 0;
}

img[alt="Bas_Droit"]{
    position: absolute;
    bottom: -35px;
    right: 0;
}

.description-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img[alt="Portrait Cayouche"]{
    height: 135px;
    width: 135px;
    border-radius: 100px;
    margin-top: 20px;
}

.description-container > div > p{
    margin-top: 22px;
    width: 300px;
}


/* Apercu de l'artiste */

.apercu-container{
    margin-top: 75px;
}

.apercu-title, .dates-title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    position: relative;
    margin-bottom: 20px;
}

.apercu-title::before {
    content: "";
    position: absolute;
    left: 62%; 
    bottom: -6px;
    transform: translateX(-60%);
    width: 130px;
    height: 5px;
    border-radius: 50px;
    background-color: #96E072;
}

.citation{
    text-align: center;
    color: rgb(168, 168, 168);
    font-style: italic;
    margin-top: 10px;
}