.description-container{
    position: relative;
}

.artiste-nom {
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 25px;
}

.artiste-nom::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 90%;
    transform: translateX(-50%); 
    width: 105px;
    height: 40px;
    background-color: #96E072;
    z-index: -1;
    border-radius: 30px 0 20px 0;
}

img[alt="Haut_Gauche"]{
    position: absolute;
    top: 10px;
    left: 0;
}

img[alt="Bas_Droit"]{
    position: absolute;
    bottom: -35px;
    right: 0;
}

.description-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img[alt="Portrait Cayouche"]{
    height: 135px;
    width: 135px;
    border-radius: 100px;
    margin-top: 20px;
}

.description-container > div > p{
    margin-top: 22px;
    width: 300px;
}


/* Apercu de l'artiste */

.apercu-container{
    margin-top: 75px;
}

.apercu-title, .dates-title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    position: relative;
    margin-bottom: 20px;
}

.apercu-title::before {
    content: "";
    position: absolute;
    left: 62%; 
    bottom: -6px;
    transform: translateX(-60%);
    width: 130px;
    height: 5px;
    border-radius: 50px;
    background-color: #96E072;
}

.citation{
    text-align: center;
    color: rgb(168, 168, 168);
    font-style: italic;
    margin-top: 10px;
}

.apercu-container > iframe{
    width: 100%;
}

img[alt="vague"]{
    display: none;
    width: 100vw;
}

.youtube{
    height: 200px;
    width: 100%;
}

@media screen and (min-width: 450px) {
    img[alt="Portrait Cayouche"] {
        height: 20vw;
        width: auto;
        border-radius: 500px;
        margin-top: 20px;
    }

    p {
        font-size: 3vmin;
        text-align: center;
    }

    .description-container > div > p{
        margin-top: 22px;
        width: 300px;
    }

    .artiste-nom {
        font-size: 45px;
    }

    .apercu-title{
        font-size: 34px;
    }

    .artiste-nom::before {
        height: 45px;
    }

    .apercu-title::before {
        left: 56%;
        bottom: -6px;
        width: 200px;
        height: 6px;
    }

    .youtube{
        height: 250px;
    }

}

@media screen and (min-width: 750px) {
    img[alt="Haut_Gauche"]{
        display: none;
    }
    
    img[alt="Bas_Droit"]{
        display: none;
    }

    img[alt="vague"]{
        display: inline;
    }

    .description-container > div > p{
        margin-top: 22px;
        width: 800px;
    }

    p {
        font-size: 2.3vmin;
        text-align: center;
    }

    .apercu-container > .video-container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 20px;
    }

    .citation{
        width: 120%;
        font-size: 25px;
    }

    .youtube{
        height: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .youtube{
        height: 350px;
    }
}