
.billeterie{
    margin-top: 40px;
}

.billeterie-title{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    position: relative;
    margin-bottom: 20px;
}

.billeterie-title::before{
    content: "";
    position: absolute;
    left: 52%; 
    bottom: -6px;
    transform: translateX(-50%);
    width: 75px;
    height: 5px;
    border-radius: 50px;
    background-color: #96E072;
}

.forfait-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.forfait-adulte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #DDAE7E;
    width: 300px;
    height: 200px;
}

.forfait-enfant{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #DCF1D0;
    width: 300px;
    height: 200px;
}

.forfait-adulte > p{
    text-align: center;
}

.adulte, .enfant{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.prix{
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
}

.nombre{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.moins{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: #E7CAAE;
    color: white;
    border: none;
    cursor: pointer;

}

.plus{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: #BCE8A6;
    color: white;
    border: none;
    cursor: pointer;
}

.valeur{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 22px;
    width: 30px;
    text-align: center;
}

.forfait-adulte, .forfait-enfant{
    height: 200px;
}

.boutton-acheter{
    background-color: var(--color-secondary);
    padding: 5px 19px;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.boutton-acheter:hover{
    background-color: var(--color-primary);
}