.contact-container > iframe{
    width: 100%;
}

.text-contact{
    margin-top: 5vh;
}

.contact-title{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    position: relative;
    margin-bottom: 20px;
}


.contact-title::before{
    content: "";
    position: absolute;
    left: 52%; 
    bottom: -6px;
    transform: translateX(-50%);
    width: 75px;
    height: 5px;
    border-radius: 50px;
    background-color: #96E072;
}

@media screen and (min-width: 450px) {
    .contact-title{
        font-size: 34px;
    }

    .contact-title::before {
        left: 53%;
        bottom: -6px;
        width: 120px;
        height: 6px;
    }

}


@media screen and (min-width: 750px) {
    .contact-title::before {
        left: 51%;
        bottom: -6px;
        width: 120px;
        height: 6px;
    }

}
