.dates{
    margin-top: 80px;
}

.dates-title{
    margin-bottom: 45px;
}

.dates-title::before {
    content: "";
    position: absolute;
    left: 62%; 
    bottom: -6px;
    transform: translateX(-40%);
    width: 180px;
    height: 5px;
    border-radius: 50px;
    background-color: #96E072;
}

.samedi, .dimanche{
    display: flex;
}

.jours1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #BCE8A6;
    width: 75px;
    padding: 20px;
    font-weight: bold;
}

.jours2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #DDAE7E;    
    width: 75px;
    padding: 20px;
    font-weight: bold;
}

.jours-infos1{
    background-color: #DCF2D1;
    padding: 10px 5px;
    width: 100%;
}

.jours-infos1 :first-child{
    font-weight: bold;
    text-align: center;
}

.jours-infos2{
    background-color: #E7CAAE;
    padding: 10px 5px;
    width: 100%;
}

.jours-infos2 :first-child{
    font-weight: bold;
    text-align: center;
}

.jours-infos1 > p {
    text-align: left;
    margin-left: 10px;
}

.jours-infos2 > p {
    text-align: right;
    margin-right: 10px;
}

@media screen and (min-width: 450px) {

    .dates{
        max-width: 1250px;
    }
    
    .dates-title{
        font-size: 34px;
    }

    .dates-title::before {
        left: 52%;
        bottom: -6px;
        width: 400px;
        height: 6px;
    }
}

@media screen and (min-width: 750px) {
    .dates-title{
        font-size: 34px;
        margin-bottom: 25px;
    }
}
