.footer-img{
    display: flex;
    justify-content: space-between;
}

.footer-text{
    display: flex;
    justify-content: center;
    font-family: "Monserrat",sans-serif;
}

.footer-img > a{
    color: var(--color-primary);
    font-size: 35px;
    display: flex;
    align-items:center;
    text-decoration: none;
}

.bi-facebook{
    margin-left: -5.2vh;
}

.footer-img > a:hover{
    color: var(--color-secondary);
}

.logo-footer{
    width: 150px;
}

footer > p{
    text-align: center;
    margin-bottom: 30px;
}