.footer-img{
    display: flex;
    justify-content: center;
}

.footer-text{
    display: flex;
    justify-content: center;
    font-family: "Monserrat",sans-serif;
}

.bi{
    color: var(--color-primary);
    font-size: 35px;
    display: flex;
    align-items: center;
}

img{
    width: 150px;
    margin: 0 5vw 2vh 5vw;
}
