.footer-img{
    display: flex;
    justify-content: center;
}

.footer-text{
    display: flex;
    justify-content: center;
}

.bi{
    color: var(--color-primary);
    font-size: 35px;
    display: flex;
    align-items: center;
}

img{
    width: 150px;
    margin: 0 10vw 0 10vw;
}
