h2{
    text-align: center;
}

.img-partenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
}

.img-partenaire img{
    margin-left: 0;
    width: 100px;
    margin-right: 1vw;
}