*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.wrapper{
    margin: 0 auto;
    width: 92%;
}


p{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

h1{
    font-family: "Poppins",sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

h2{
    font-family: "Poppins",sans-serif;
    font-size: 19px;
    font-weight: bold;
}